# JVM crash related
core.*
hs_err_pid*

# IntelliJ IDEA
*.iml
.idea/
out/

# Maven
target/
dependency-reduced-pom.xml

# Gradle
!gradle-wrapper.jar
.gradle/
build/
*/build/
.gradletasknamecache

# OS X quirks
.DS_Store

# MiniPaper
MiniPaper-API/
MiniPaper-Server/
work/
testserver/
